<section class="score_section section_gap_top">
        <div class="container">
          <div class="row about_content align-items-center">
            <div class="col-lg-6">
              <div class="section_content">
                <h6>Score</h6>
                <h1>Well Played!</h1>
                <h1>Your Score : {{score}} </h1>
                <h2>Overall score : {{totalScore}}</h2>
                <div style="margin: 10px; padding-top: 20px;">
                     <a class="primary_btn" routerLink="/home/choice">Exit</a>
                </div>
                
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about_us_image_box justify-content-center">
                <img class="img-fluid w-75" style="opacity: 0.5; border-radius: 25px;" src="assets/img/category/quiz-for-teachers-1-728.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      
