<section class="gallery_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<h2>Pick your category!</h2>
						<h1>Pick your category!</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-gallery">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="assets/img/category/Science.jpg" alt="">
								<div class="content">
									<a class="pop-up-image" routerLink="/question/Science">
										<h3><i class="lnr">Science</i></h3>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-gallery">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="assets/img/category/General Knowledge.jpg" alt="">
								<div class="content">
									<a class="pop-up-image" routerLink="/question/General Knowledge">
										<h3><i class="lnr">General Knowledge</i></h3>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-gallery">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="assets/img/category/Politics.jpg" alt="">
								<div class="content">
									<a class="pop-up-image" routerLink="/question/Politics">
										<h2><i class="lnr">Politics</i></h2>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 hidden-md hidden-sm">
					<div class="single-gallery">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="assets/img/category/Arts & Culture.jpg" alt="">
						<div class="content">
							<a class="pop-up-image" routerLink="/question/Arts & Culture">
								<h3><i class="lnr">Arts & Culture</i></h3>
							</a>
						</div>
          </div>
          <div class="single-gallery">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="assets/img/category/World.jpg" alt="">
              <div class="content">
                <a class="pop-up-image" routerLink="/question/World">
                  <h3><i class="lnr">World</i></h3>
                </a>
              </div>
          </div>
          <div class="single-gallery">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="assets/img/category/Sports.jpg" alt="">
              <div class="content">
                <a class="pop-up-image" routerLink="/question/Sports">
                  <h3><i class="lnr">Sports</i></h3>
                </a>
              </div>
          </div>
				</div>
			</div>
		</div>
</section>
	