.recent_update_inner .nav.nav-tabs li.qoptions {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 0px 15px;
 }
.recent_update_inner{
  height: auto;
}
/* @media (max-width: 991px) { */
  .recent_update_inner .nav.nav-tabs li a.active, .recent_update_inner .nav.nav-tabs li a:hover {
    background: none; 
  }
/* } */
.recent_update_inner .nav.nav-tabs li a.qcoptions.wrongoption:hover,
.recent_update_inner .nav.nav-tabs li a.qcoptions.rightoption:hover  {
    border-image: none;
   
}
.recent_update_inner .nav.nav-tabs li a.qcoptions.wrongoption{
    background: red;
}
.recent_update_inner .nav.nav-tabs li a.qcoptions.rightoption:hover {
    border-image: none;
   
}
.recent_update_inner .nav.nav-tabs li a.qcoptions.rightoption{
    background:green;
}
.dot {
  height: 60px;
  width: 60px;
  /* background-color: #bbb; */
  background: -webkit-linear-gradient(90deg, #3fcaff 0%, #a4ffb0 100%);
  background: -moz-linear-gradient(90deg, #3fcaff 0%, #a4ffb0 100%);
  background: -o-linear-gradient(90deg, #3fcaff 0%, #a4ffb0 100%);
  background: linear-gradient(90deg, #3fcaff 0%, #a4ffb0 100%); 
  float:right;
  border-radius: 50%;
  text-align: center;
  padding: 17px;
  font-size: x-large;
}