<div class="container">
    <h2 style="text-align: center;margin-top: 10%;">Register</h2>
        <div class="row" id="signup">
            <div class="col-6">
                <form #rform="ngForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="uname">Enter your name</label>
                    <input type="input" class="form-control" id="uname" [(ngModel)]="user.name"
                    #name="ngModel" name="uname" placeholder="Enter name" required>
                    <small class="text-danger" [class.d-none]="(name.untouched || name.valid)">Name is mandatory</small>
                  </div>
                  <div class="form-group">
                      <label for="mob">Enter your mobile no:</label>
                      <input type="number" class="form-control" id="mob" [(ngModel)]="user.mob"
                       #mob="ngModel" name="mob" placeholder="Enter mobile number" required pattern="^\d{10}$">              
                       <small class="text-danger" [class.d-none]="(mob.untouched || mob.valid)" >Enter a valid mobile number</small> 
                  </div>
                  <div class="form-group">
                        <label for="role" class="col-form-label">User Role:</label>
                        <select name="role"[(ngModel)]="user.role" #role="ngModel"
                         id="role" class="custom-select" required>
                          <option id="0" value="client">Customer</option>
                          <option id="1" value="admin">Admin</option>
                        </select> 
                        <small class="text-danger" [class.d-none]="(role.valid || role.untouched)">Role is required</small>                 
                    </div>
                  <div class="form-group">
                      <label for="usname">Enter a user name:</label>
                      <input type="text" class="form-control" id="usname" [(ngModel)]="user.username"
                      #uname="ngModel" name="usname" placeholder="User name" required>
                      <small class="text-danger" [class.d-none]="(uname.untouched || uname.valid)" >User name is mandatory</small>                          
                  </div>
                  <div class="form-group">
                          <label for="uemail">Email address</label>
                          <input type="email" class="form-control" id="uemail" [(ngModel)]="user.mail" name="uemail" aria-describedby="emailHelp" placeholder="Enter email">                            
                        </div>
                  <div class="form-group">
                    <label for="pwd">Enter a password</label>
                    <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password"
                    #pwd="ngModel" name="pwd" placeholder="Password" required>
                    <small class="text-danger" [class.d-none]="(pwd.untouched || pwd.valid)" >Password is mandatory</small>
                    <label for="pwd">Confirm password</label>
                    <input type="password" class="form-control" id="cpwd"[(ngModel)]="cpwd"
                    #confirmpwd="ngModel" name="cpwd" placeholder="Password">
                    <small class="text-danger" [class.d-none]="(confirmpwd.untouched || (confirmpwd.value == pwd.value))">Passwords should match</small>
                  </div>            
                  <button type="submit" [disabled]="rform.form.invalid || (!(confirmpwd.value == pwd.value))" class="btn btn-primary" name="register">Register</button>
                </form>
            </div>
        </div>            
    </div>