<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
              <img class="img-fluid w-100" style="opacity: 0.5; border-radius: 25px;" src="assets/img/category/quiz-for-teachers-1-728.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            <h2>
              Curiosity
            </h2>
            <p>
                Unlocking knowledge at the speed of thought!
            </p>
            <div class="d-flex align-items-center">
              <a id="play-home-video" class="video-play-button" [routerLink]="routeTo">
                <span></span>
              </a>
              <div class="watch_video text-uppercase">
                Continue
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
